[submodule "Mods/Themed-Jokers"]
	path = Mods/Themed-Jokers
	url = https://github.com/BlizzowX/Balatro---Themed-Jokers
[submodule "Mods/Paperback"]
	path = Mods/Paperback
	url = https://github.com/GitNether/paperback
[submodule "Mods/CheesyJokers"]
	path = Mods/CheesyJokers
	url = https://github.com/ilikecheese0/CheesyJokers
[submodule "Mods/SyltStickers"]
	path = Mods/SyltStickers
	url = https://github.com/snowylight/SyltStickers
[submodule "Mods/FloundersJokers"]
	path = Mods/FloundersJokers
	url = https://github.com/Flounderlul/FloundersJokers
[submodule "Mods/AncientJokerFix"]
	path = Mods/AncientJokerFix
	url = https://github.com/gabepesco/BalatroAncientJokerFix
[submodule "Mods/Alice_Annum"]
	path = Mods/Alice_Annum
	url = https://github.com/ThreeCubed273/alices_annum_balatro_mod
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur
